ion-tab-bar {
  --background: black;
}

ion-tab-button {
  --color: grey;
  --color-selected: white;

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: black;
  }
}

ion-badge {
  background-color: #8f3682;
  font-size: 12px;
}
