<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="showTabs">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mission">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Missions</ion-label>
      <ion-badge>03</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Messages</ion-label>
      <ion-badge>+99</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="driving">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Conduite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
