<div class="bg_back">
  <img class="img-bg" src="./assets/img/login_bg.jpg" />
</div>
<ion-content [scrollEvents]="true" class="ion-no-padding">
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="col-img-logo">
      <img class="img-bg" src="./assets/img/logo_text_white.png" />
    </ion-col>
  </ion-row>

  <ion-row class="row-info">
    <ion-col size="12" class="col-info">
      <span class="info-title">{{ userProfile?.shortName }}</span>
      <span class="info-subtitle">{{ driverStatus?.vehicleVRN }}</span>
    </ion-col>
  </ion-row>

  <ion-row class="row-info">
    <ion-col size="12" class="col-info">
      <ion-icon name="information-circle" class="info-icon"></ion-icon>
      <span class="info-title-inline">REPOS DANS 43MIN (51 KM)</span>
    </ion-col>
  </ion-row>

  <ion-row class="row-info">
    <ion-col size="12" class="col-info">
      <ion-icon name="information-circle" class="info-icon"></ion-icon>
      <span class="info-title-inline">MISE A JOUR DE MISSIONS</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="col-title">
      <span class="info-title-large">Vos services</span>
    </ion-col>
  </ion-row>

  <ion-grid class="ion-padding ion-no-margin">
    <ion-row>
      <ion-col class="col-grid-card" size="4">
        <div>
          <ion-icon name="pint"></ion-icon>
          <div class="grid-card-title">Saisie carburant</div>
        </div>
      </ion-col>
      <ion-col class="col-grid-card">
        <div>
          <ion-icon name="pint"></ion-icon>
          <div class="grid-card-title">Gestion palette</div>
        </div>
      </ion-col>
      <ion-col class="col-grid-card">
        <div>
          <ion-icon name="pint"></ion-icon>
          <div class="grid-card-title">Espace restant</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-grid-card" size="4">
        <div>
          <ion-icon name="pint"></ion-icon>
          <div class="grid-card-title">Scan QRCode</div>
        </div>
      </ion-col>
      <ion-col class="col-grid-card">
        <div>
          <ion-icon name="pint"></ion-icon>
          <div class="grid-card-title">Mes documents</div>
        </div>
      </ion-col>
      <ion-col class="col-grid-card">
        <div>
          <ion-icon name="pint"></ion-icon>
          <div class="grid-card-title">Réglages application</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-grid-card" size="4">
        <div>
          <ion-icon name="pint"></ion-icon>
          <div class="grid-card-title">Gestion temps bus</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-margin-bottom">
    <ion-col size="12" class="col-title">
      <span class="info-title-large">Autres applications</span>
    </ion-col>
  </ion-row>

  <ion-row class="row-info">
    <ion-col size="12" class="col-info">
      <ion-icon name="information-circle" class="info-icon"></ion-icon>
      <span class="info-title-inline">ACS</span>
    </ion-col>
  </ion-row>

  <ion-row class="row-info">
    <ion-col size="12" class="col-info">
      <ion-icon name="information-circle" class="info-icon"></ion-icon>
      <span class="info-title-inline">TRUNCKONLINE.PRO</span>
    </ion-col>
  </ion-row>
</ion-content>
