.bg_back {
  width: 100% !important;
  height: 100% !important;
  // position: fixed;
  // z-index: 1;
  padding: 0 !important;
}

.bg_back img {
  width: 100% !important;
}

ion-content {
  position: fixed;
  // z-index: 100;
  --background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 0.3),
    rgb(30, 30, 30) 30%
  );

  color: white;

  .col-img-logo {
    text-align: center !important;
    margin-top: 36px;
  }
  .col-img-logo img {
    max-width: 60% !important;
  }
}

.row-info {
  background: rgb(43, 43, 43);
  margin-bottom: 16px;
}

.col-info {
  background: rgb(43, 43, 43);
  padding: 16px;
}

.info-title {
  width: 100%;
  display: inline-block;
  color: white;
  font-size: larger;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 4px;
}
.info-subtitle {
  width: 100%;
  display: inline-block;
  color: white;
  font-size: large;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 8px;
}

.info-title-inline {
  width: 100%;
  display: inline;
  color: white;
  font-size: larger;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 4px;
  vertical-align: middle;
}

.info-icon {
  color: #8f3682 !important;
  font-size: 2em;
  vertical-align: middle;
  margin-right: 14px;
}

.col-title {
  padding: 16px;
}

.info-title-large {
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.col-grid-card {
  background: rgb(43, 43, 43);
  margin: 4px;
  color: white;
  font-size: medium;
  padding: 0px !important;
}

.col-grid-card div {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 16px;

  ion-icon {
    font-size: 40px !important;
    margin-top: 16px;
  }
}

.grid-card-title {
  padding-left: 16px;
  padding-right: 16px;
}
