<div class="bg_back">
  <img class="img-bg" src="./assets/img/head_bg.png" />
</div>
<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="col-img-logo">
      <img class="img-bg" src="./assets/img/logo_text_white.png" />
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin">
    <ion-col size="12" class="center-content"></ion-col>
  </ion-row>

  <ion-row class="ion-margin">
    <ion-col size="12" class="center-content"></ion-col>
  </ion-row>

  <form [formGroup]="loginForm" class="ion-margin signin-form">
    <mat-form-field>
      <mat-label>Identifiant</mat-label>
      <input
        matInput
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        placeholder=""
        type="email"
        formControlName="login"
        #elm_login
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        placeholder=""
        type="password"
        formControlName="password"
        #elm_password
      />
    </mat-form-field>
  </form>

  <ion-row class="ion-margin">
    <ion-col size="12" class="center-content">
      <button (click)="login()" class="btn-login">Se connecter</button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin">
    <ion-col size="12" class="remember-me">
      <ion-checkbox class="checkbox-square"></ion-checkbox
      ><ion-label>Mémoriser mon identifiant</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin">
    <ion-col size="12" class="center-content">
      <a href="#" class="forgot-password">Mot de passe oublié ?</a>
    </ion-col>
  </ion-row>
</ion-content>
