.bg_back {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
}

.bg_back img {
  width: 100% !important;
}

ion-content {
  position: fixed;
  --background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 0.3),
    rgb(30, 30, 30) 30%
  );

  .col-img-logo {
    text-align: center !important;
    margin-top: 36px;
  }
  .col-img-logo img {
    max-width: 60% !important;
  }
}

mat-form-field {
  width: 100% !important;
  .mat-form-field-outline
    .mat-form-field-empty
    .mat-form-field-underline
    .mat-form-field-ripple {
    background-color: gray !important;
  }
  ::placeholder {
    font-size: large;
    color: lightgrey !important;
  }
}

mat-form-field {
  font-size: 20px;
  border-color: lightgray !important;
}

::ng-deep .signin-form {
  margin-top: 40px;
  margin-left: 24px;
  margin-right: 24px;
  .mat-focused .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: lightgray !important;
  }
  .mat-focused .mat-form-field-label {
    /*change color of label when focused*/
    color: gray !important;
  }
  .mat-form-field-underline,
  .mat-form-field-ripple {
    color: gray !important;
    background-color: gray !important;
  }
  mat-label {
    color: gray !important;
  }
}

/*
.create-account-form {
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 24px;
}
*/

ion-checkbox {
  --background: transparent;
  border-width: 0.5px !important;
  border-style: solid !important;
  border-radius: 4px;
  border-color: gray !important;
  --height: 25px;
  --width: 25px;
  --checkmark-color: gray;
  --background-checked: transparent;
  --border-color: gray;
  --border-color-checked: gray;
}

.btn-login {
  width: 100% !important;
  height: 60px;
  background: #8f3682;
  color: white;
  font-size: 22px;
  border-radius: 4px;
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 24px;
}

.remember-me {
  color: gray;
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 16px;
  margin-bottom: 16px;
  ion-checkbox {
    vertical-align: middle;
    margin-right: 8px;
  }
  ion-label {
    vertical-align: middle;
  }
}

.forgot-password {
  color: gray !important;
  font-size: large;
  margin-top: 16px;
}
